<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jitc.adminjitc">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoractangle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logorounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminJITC">
        <activity
            android:name=".video.UpdateVideoActivity"
            android:exported="true" />
        <activity
            android:name=".uploadcourse.UpdateCourseActivity"
            android:exported="true" />
        <activity
            android:name=".pendaftaran.DetailPendaftarActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity android:name=".UI.GetStartedActivity" />
        <activity android:name=".UI.MenuActivity" />
        <activity android:name=".pendaftaran.ListPendaftarActivity" />
        <activity android:name=".uploadcourse.DetailCourseActivity" />
        <activity android:name=".uploadcourse.MainActivity" />
        <activity android:name=".video.ViewVideoActivity" />
        <activity android:name=".video.UploadVideoActivity" />
        <activity android:name=".uploadcourse.ViewCourseActivity" />
        <activity android:name=".UI.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>